@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
// variables
$backgroundColor: #090a13;
$main-color: #f6a01f;
.adminPanelContainer {
  width: 100%;
  height: 100vh;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  .adminPanelContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p.title {
      position: relative;
      color: white;
      font-size: 2rem;
      line-height: 3rem;
      &::before {
        content: "";
        position: absolute;
        background: rgba($main-color, 0.15);
        max-width: 12rem;
        width: 100%;
        margin-left: -6rem;
        height: 100%;
      }
    }
    .loginForm {
      padding: 2rem 6rem;
      background-color: white;
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      p.Header {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0;
      }
      .formInput {
        input {
          margin-top: 0.5rem;
          width: 400px;
          padding: 0.3rem 0.5rem;
          border: 1px solid rgba(0, 0, 0, 0.35);
          border-radius: 5px;
        }
        .redMessage {
          margin-top: 0.3rem;
          color: red;
        }
      }
      input[type="button"] {
        margin-top: 1rem;
        padding: 0.4rem 1.2rem;
        background-color: $main-color;
        border: none;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.sideBar {
  position: sticky;
  top: 0;
  height: 100vh;
  max-width: 300px;
  width: 100%;
  background-color: $backgroundColor;
  .logo {
    background: #111325;
    padding: 1rem 1.5rem;
    .navCircle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-color: #fff;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  nav {
    a {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 1.5rem;
      transition: 0.5s ease;
      .navTitle {
        display: flex;
        p {
          color: #fff;
          font-size: 1.2rem;
          margin-left: 0.8rem;
        }
      }
      .navLine {
        width: 8px;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
      }
      &:hover {
        background-color: #111325;
      }
      &.active {
        background-color: #020203;
      }
    }
  }
}
.dFlex {
  display: flex;
  .mainContent {
    width: 100%;
    header {
      padding: 1.5rem 2rem;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .lineContainer {
        .line {
          height: 6px;
          background: rgba(9, 10, 19, 0.1);
          border-radius: 49px;
          margin: 0.5rem 0;
          &:first-child {
            width: 80px;
          }
          &:nth-child(2) {
            width: 60px;
          }
          &:last-child {
            width: 40px;
          }
        }
      }
      .userId {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
          margin: 0 0.5rem;
        }
      }
    }
    .dashboardContainer {
      background-color: #f8f8f8;
      padding: 0 2rem;
      .visits-wrapper {
        background-color: #090a13;
        padding: 2rem 1.5rem;
        display: flex;
        .total-visits {
          p {
            color: #fff;
            &:last-child {
              margin-top: 0.4rem;
              font-weight: bold;
              font-size: 2rem;
            }
          }
        }
        .todays-visits {
          margin-left: 2.5rem;
          .todays-visits-tit {
            display: flex;
            p {
              color: #fff;
              font-size: 1rem;
            }
            img {
              margin-left: 0.5rem;
            }
          }
          p.highlighted {
            color: $main-color;
            margin-top: 0.4rem;
            font-weight: bold;
            font-size: 2rem;
          }
        }
      }
    }
    .portfolioContainer {
      padding: 0 2rem;
      background-color: #f8f8f8;
      .portfolioForm {
        background-color: $backgroundColor;
        padding: 2rem 1.5rem;
        h3 {
          color: #f6a01f;
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }
        form {
          .formInput {
            margin-bottom: 1.5rem;
            p {
              color: #fff;
              margin-bottom: 0.5rem;
            }
            input {
              max-width: 400px;
              width: 100%;
              padding: 0.4rem 0.5rem;
            }
          }
        }
      }
      .portfolioCardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        padding: 1rem 0;
        .portfolioCard {
          p {
            line-height: 1.5rem;
          }
          .btn-wrapper {
            margin-top: 0.5rem;
            button {
              padding: 0.4rem 1.5rem;
              border: none;
              border-radius: 37px;
              &:nth-child(1) {
                background-color: #ff0000;
                color: #fff;
              }
              &:last-child {
                border: 1px solid #00af07;
                color: #00af07;
                margin-left: 1rem;
              }
            }
          }
          img {
            width: 100%;
          }
        }
      }
    }

    // title
    .Title {
      padding: 3rem 0;
    }
  }
}

//contactAdmin
.contactContainer {
  margin: 0 2rem;

  .contacts-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;

    .contacts {
      background-color: #fff;
      padding: 2rem;
      box-shadow: 0px 0px 10px rgba(rgb(0, 0, 0), 0.1);
      line-height: 1.5rem;

      h2 {
        color: hsla(220, 100%, 57%, 1);
        margin-bottom: 0.8rem;
      }
      .contact-info {
        display: flex;
        p {
          &:first-child {
            font-weight: bold;
            margin-right: 0.3rem;
          }
        }
      }
      .contact-infomsg {
        p {
          &:first-child {
            font-weight: bold;
          }
        }
      }
      input {
        padding: 0.4rem 1.5rem;
        border: none;
        border-radius: 37px;
        background-color: #ff0000;
        color: #fff;
        margin-top: 1rem;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          box-shadow: 0px 0px 15px rgba(#ff0000, 0.8);
        }
      }
    }
  }
}

.not-available {
  color: #ff0000;
  font-weight: bold;
}
