@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.adminPanelContainer {
  width: 100%;
  height: 100vh;
  background-color: #090a13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminPanelContainer .adminPanelContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adminPanelContainer .adminPanelContent p.title {
  position: relative;
  color: white;
  font-size: 2rem;
  line-height: 3rem;
}

.adminPanelContainer .adminPanelContent p.title::before {
  content: "";
  position: absolute;
  background: rgba(246, 160, 31, 0.15);
  max-width: 12rem;
  width: 100%;
  margin-left: -6rem;
  height: 100%;
}

.adminPanelContainer .adminPanelContent .loginForm {
  padding: 2rem 6rem;
  background-color: white;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminPanelContainer .adminPanelContent .loginForm p.Header {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.adminPanelContainer .adminPanelContent .loginForm .formInput input {
  margin-top: 0.5rem;
  width: 400px;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.adminPanelContainer .adminPanelContent .loginForm .formInput .redMessage {
  margin-top: 0.3rem;
  color: red;
}

.adminPanelContainer .adminPanelContent .loginForm input[type="button"] {
  margin-top: 1rem;
  padding: 0.4rem 1.2rem;
  background-color: #f6a01f;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.sideBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  max-width: 300px;
  width: 100%;
  background-color: #090a13;
}

.sideBar .logo {
  background: #111325;
  padding: 1rem 1.5rem;
}

.sideBar .logo .navCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
}

.sideBar .logo .navCircle img {
  width: 50px;
  height: 50px;
}

.sideBar nav a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 1.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.sideBar nav a .navTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sideBar nav a .navTitle p {
  color: #fff;
  font-size: 1.2rem;
  margin-left: 0.8rem;
}

.sideBar nav a .navLine {
  width: 8px;
  height: 2px;
  background: #ffffff;
  border-radius: 2px;
}

.sideBar nav a:hover {
  background-color: #111325;
}

.sideBar nav a.active {
  background-color: #020203;
}

.dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dFlex .mainContent {
  width: 100%;
}

.dFlex .mainContent header {
  padding: 1.5rem 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dFlex .mainContent header .lineContainer .line {
  height: 6px;
  background: rgba(9, 10, 19, 0.1);
  border-radius: 49px;
  margin: 0.5rem 0;
}

.dFlex .mainContent header .lineContainer .line:first-child {
  width: 80px;
}

.dFlex .mainContent header .lineContainer .line:nth-child(2) {
  width: 60px;
}

.dFlex .mainContent header .lineContainer .line:last-child {
  width: 40px;
}

.dFlex .mainContent header .userId {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.dFlex .mainContent header .userId p {
  margin: 0 0.5rem;
}

.dFlex .mainContent .dashboardContainer {
  background-color: #f8f8f8;
  padding: 0 2rem;
}

.dFlex .mainContent .dashboardContainer .visits-wrapper {
  background-color: #090a13;
  padding: 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dFlex .mainContent .dashboardContainer .visits-wrapper .total-visits p {
  color: #fff;
}

.dFlex .mainContent .dashboardContainer .visits-wrapper .total-visits p:last-child {
  margin-top: 0.4rem;
  font-weight: bold;
  font-size: 2rem;
}

.dFlex .mainContent .dashboardContainer .visits-wrapper .todays-visits {
  margin-left: 2.5rem;
}

.dFlex .mainContent .dashboardContainer .visits-wrapper .todays-visits .todays-visits-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dFlex .mainContent .dashboardContainer .visits-wrapper .todays-visits .todays-visits-tit p {
  color: #fff;
  font-size: 1rem;
}

.dFlex .mainContent .dashboardContainer .visits-wrapper .todays-visits .todays-visits-tit img {
  margin-left: 0.5rem;
}

.dFlex .mainContent .dashboardContainer .visits-wrapper .todays-visits p.highlighted {
  color: #f6a01f;
  margin-top: 0.4rem;
  font-weight: bold;
  font-size: 2rem;
}

.dFlex .mainContent .portfolioContainer {
  padding: 0 2rem;
  background-color: #f8f8f8;
}

.dFlex .mainContent .portfolioContainer .portfolioForm {
  background-color: #090a13;
  padding: 2rem 1.5rem;
}

.dFlex .mainContent .portfolioContainer .portfolioForm h3 {
  color: #f6a01f;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.dFlex .mainContent .portfolioContainer .portfolioForm form .formInput {
  margin-bottom: 1.5rem;
}

.dFlex .mainContent .portfolioContainer .portfolioForm form .formInput p {
  color: #fff;
  margin-bottom: 0.5rem;
}

.dFlex .mainContent .portfolioContainer .portfolioForm form .formInput input {
  max-width: 400px;
  width: 100%;
  padding: 0.4rem 0.5rem;
}

.dFlex .mainContent .portfolioContainer .portfolioForm form .formInput input input[type="file"] {
  padding: 0.2rem 1rem;
}

.dFlex .mainContent .portfolioContainer .portfolioForm form .formInput select {
  padding: 0.2rem 1rem;
}

.dFlex .mainContent .portfolioContainer .portfolioForm form input[type="button"] {
  padding: 0.4rem 2rem;
  background-color: #f69f1e;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.dFlex .mainContent .portfolioContainer .portfolioCardContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 1rem 0;
}

.dFlex .mainContent .portfolioContainer .portfolioCardContainer .portfolioCard p {
  line-height: 1.5rem;
}

.dFlex .mainContent .portfolioContainer .portfolioCardContainer .portfolioCard .btn-wrapper {
  margin-top: 0.5rem;
}

.dFlex .mainContent .portfolioContainer .portfolioCardContainer .portfolioCard .btn-wrapper button {
  padding: 0.4rem 1.5rem;
  border: none;
  border-radius: 37px;
}

.dFlex .mainContent .portfolioContainer .portfolioCardContainer .portfolioCard .btn-wrapper button:nth-child(1) {
  background-color: #ff0000;
  color: #fff;
}

.dFlex .mainContent .portfolioContainer .portfolioCardContainer .portfolioCard .btn-wrapper button:last-child {
  border: 1px solid #00af07;
  color: #00af07;
  margin-left: 1rem;
}

.dFlex .mainContent .portfolioContainer .portfolioCardContainer .portfolioCard img {
  width: 100%;
}

.dFlex .mainContent .Title {
  padding: 3rem 0;
}

.contactContainer {
  margin: 0 2rem;
}

.contactContainer .contacts-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.contactContainer .contacts-wrapper .contacts {
  background-color: #fff;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  line-height: 1.5rem;
}

.contactContainer .contacts-wrapper .contacts h2 {
  color: #246dff;
  margin-bottom: 0.8rem;
}

.contactContainer .contacts-wrapper .contacts .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactContainer .contacts-wrapper .contacts .contact-info p:first-child {
  font-weight: bold;
  margin-right: 0.3rem;
}

.contactContainer .contacts-wrapper .contacts .contact-infomsg p:first-child {
  font-weight: bold;
}

.contactContainer .contacts-wrapper .contacts input {
  padding: 0.4rem 1.5rem;
  border: none;
  border-radius: 37px;
  background-color: #ff0000;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contactContainer .contacts-wrapper .contacts input:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.8);
          box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.8);
}

.not-available {
  color: #ff0000;
  font-weight: bold;
}

.carrersContainer {
  padding: 0 2rem;
  background-color: #f8f8f8;
}

.carrersContainer .carrersForm {
  background-color: #090a13;
  padding: 2rem 1.5rem;
}

.carrersContainer .carrersForm h3 {
  color: #f6a01f;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.carrersContainer .carrersForm form .formInput {
  margin-bottom: 1.5rem;
}

.carrersContainer .carrersForm form .formInput p {
  color: #fff;
  margin-bottom: 0.5rem;
}

.carrersContainer .carrersForm form .formInput input {
  max-width: 400px;
  width: 100%;
  padding: 0.4rem 0.5rem;
}

.carrersContainer .carrersForm form .formInput textarea {
  padding: 0.4rem 0.5rem;
}

.carrersContainer .carrersForm form .formInput select {
  padding: 0.2rem 1rem;
}

.carrersContainer .carrersForm form input[type="button"] {
  padding: 0.4rem 2rem;
  background-color: #f69f1e;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}
/*# sourceMappingURL=adminPanel.css.map */